.carousel {
    background-color: #f0f;
    display: flex;
    flex-direction:column;
    width: 70%;
    height: 30rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

}

.avatar {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    margin-right: 10rem;
}

