@use 'src/styles/_vars.scss' as v;

.ActivitiesList{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    margin: 0.5rem;
  }

  &__button{
    border: none;
    background-color: v.$color-white;
    color: v.$color-grey-dark;
  }

}