@use '../../../styles/vars' as v;

.Home{
    height:100vh;
}

.bg{
    position: relative;
}

.bg img{
width:100vw;
//position:absolute;
z-index:1;



}

.steps{
display:flex;
width:70vw;
justify-content: center;
padding-top:40px;
padding-bottom:40px;
margin-left:auto;
margin-right:auto;
}

.steps_container{
    // background-color:  v.$color-third;
    width:100vw;
    margin-bottom:40px;
}

.search_form{
background-color: v.$color-first;
padding:20px;
}

.search_form_title{
color:#ffffff;
text-align: center;
}