@use '../../../styles/vars' as v;

.Home{
    height:100vh;
}

.bg{
    position: relative;
}

.bg img{
width:100vw;
//position:absolute;
z-index:1;


}

.bg-title1{
    color: v.$color-first;
    position:absolute;
    font-size: 4rem;
    z-index:2;
    top:150px;
    left:200px;
    width:30vw;
    border-radius:50px;
    
    
}
.bg-title1::after{
    content: 'développeur';
    animation: change-text 5s infinite;
}


@keyframes change-text {
    from   { content: 'développeur'; }
    25%  { content: 'enthousiaste'; }
    50%  { content: 'curieux'; }
    75%  { content: 'passionné'; }
    to { content: 'développeur'; }
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
