.modal {
  display: none; /* Cacher la modal par défaut */
  position: fixed; /* Position fixe pour la modal */
  z-index: 1; /* Positionnement au-dessus du reste de la page */
  left: 0;
  top: 0;
  width: 100%; /* Largeur de la modal */
  height: 100%; /* Hauteur de la modal */
  overflow: auto; /* Permettre le défilement si nécessaire */
  background-color: rgba(0,0,0,0.4); /* Fond légèrement transparent */
}

/* Style pour le contenu de la modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrer la modal */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Largeur du contenu */
}

/* Style pour le bouton de fermeture */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
