// @use '../../../../styles/_vars.scss' as v;

.LoginModal{
  z-index:20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &__content{
    max-width: 95%;  
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
  }

  &__title{
    // border: 1px solid red;
    text-align: center;
    z-index: 10;
  }

  &__form{
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

}

.ui.input > input > placeholder{
  color:red;
}