@use 'src/styles/_vars' as v;


.project{
    // margin: .8rem;
    border-radius: 1rem;
    // background-color: v.$color-third;
    // max-width: 700px;
    &__title {
        display: flex;
        justify-content: center;   
        color: v.$color-first;
        font-size: 2.5rem;
        // background-color: v.$color-first;
        // color: v.$color-white;
        border-radius: 1rem;
}
    &__description {
        border-radius: 1rem;
        padding: .8rem;
        color: v.$color-white;
        background-color: v.$color-first;
        font-size: 1.2rem;
    }
}

    .about{
    margin: .8rem;
    border-radius: 1rem;
    // background-color: v.$color-third;
    &__title {
    display: flex;
    justify-content: center;   
    font-size: 2.5rem;
    color: v.$color-first;
    border-radius: 1rem;
}
    &__description {
        border-radius: 1rem;
        padding: .8rem;
        color: v.$color-white;
        background-color: v.$color-first;
        font-size: 1.2rem;
    }
}

.ui.card, .ui.cards>.card {
    width: 220px;
}

span.projet__description{
    font-size: 1.4rem;
    color:#ffffff;
   
}
  
.ui.raised.segment, .ui.raised.segments {
    background-color: #FF8F3F;
}

.ui.ribbon.label {
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;
    background-color: #ffffff;
    font-size:2rem;
}
