@use '../../../../styles/_vars.scss' as v;

.ConfirmModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content{
    max-width: 95%; 
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
}

.LoginModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content{
    max-width: 95%;  
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

}

.SignupModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content{
    max-width: 95%; 
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

}