@use 'src/styles/_vars.scss' as v;

.Contact {
  // display: flex;

  // height: 80vw;
  width: 80%;
  margin: auto;
  &__title {
    color: v.$color-first;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }

  &__form {
    background-color: v.$color-first;
    border-radius: 1rem;
    padding: 1rem;
    margin: 5rem;
  }
}

// .ui.grid {
//   width: 100%;
// }