@use 'src/styles/_vars.scss' as v;

.Contact {
  &__title {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }
  &__div {
    margin: 5rem;
    background-color: v.$color-first;
  }
  &__form {
    background-color: v.$color-third;
    border-radius: 1rem;
    padding: 1rem;
  }
}